@model Vidla.ViewModels.MoviesDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Movie.Name</h2>

<ul>
    <li>@Model.Movie.Genre.Name</li>
    <li>@Model.Movie.ReleaseDate</li>
    <li>@Model.Movie.DateAdded</li>
    <li>@Model.Movie.DateAdded</li>
    <li>@Model.Movie.NumberInStock</li>
</ul>

