@*@model Vidla.ViewModels.MoviesIndexViewModel
@{
    ViewBag.Title = "Index";
}*@

<h2>Movies</h2>

@*<a href="@Url.Action("New", "Movies")" class="btn btn-primary">New Movie</a>*@

<table id="movies" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @*@foreach (var movie in Model.Movies)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit","Movies", new { id = movie.Id })">@movie.Name</a>
                </td>
                <td>
                    @movie.Genre.Name
                </td>
                <td>
                    <button data-movie-id="@movie.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }*@
    </tbody>
</table>

@section scripts {

    <script>
        $(document).ready(function () {
        var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/moviess/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                        
                        
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button  class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
        });
               

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                
                var movieId = $(button).data("movie-id");

                console.log(button)

                bootbox.confirm("are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + movieId,
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove();
                            }
                        })
                    }
                })

     
              
            });

           

            
        })
    </script>
}


@*//ESTOY EN EL SEGUNDO PUNTO DEL EXERCISE*@